
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{ margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}


body{
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header {

    display: flex;
    align-items: center;
    height: 15vh;
    min-height: 50px;
    margin-bottom: 0px;
    background-color: white;
}

.container {
  
    max-width: 1200px;
    margin: 0 auto;
}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



.libroalamano {
    font-weight: 700;
    margin: 3%;
    margin-right: 30px;
    font-size: 27px;
    color: mediumvioletred;
    text-transform: uppercase;
    transform: translateX(68px);
}

.menu .nav ul li{
   position: relative;
   float: left;
}

.menu .nav ul li a {
    font-size: 17px;
    margin-right: 33px;
    font-weight: 600;
    padding: 15px;
    margin-left: 5px;
    color: rgb(16, 16, 65);
    display: block;
    text-transform: uppercase;
}

.menu .nav ul li a:hover{

    color: mediumvioletred;
}

#menu {
   display: none;

}

.menu-icono{
    width: 25px;
}


.menu label{
    cursor: pointer;
    display: none;
}


.contenido{
    margin: top 0;;
    flex-wrap: wrap;
     margin: 3%;
     display: flex;
     padding: 30px;
     background-color: rgb(188, 226, 226);
     border-radius: 30px; 
}

.header-txt {
    width: 50%;
}

.header-txt h1 {
     font-size: 42px;
     line-height: 70px;
     color: rgb(4, 8, 39);
     text-transform: capitalize;
     font-weight: 800;
     margin-bottom: 25px;
}

.header-txt p {

    font-size:20px;
    color: black; 
    margin-bottom: 40px;
    
}

.btn-1{
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
    padding: 13px 25px;
    background-color: mediumvioletred;
    font-size: 19px;
    color: white;
    border-radius: 30px;
    text-transform: capitalize;
    box-shadow: 0 0 15px rgba(0,  0, 0, 0.4)
}

.btn-1 :hover{
    background-color: mediumvioletred}

    .header-img{
        width: 47%;
        text-align: right;
    }

    .header-img img{
        width: 400px;
    }

    .general{
        padding: 100px 0;
        display: flex ;
    }


    .general-1{

        padding: 40px; 
        display: flex;
    }

.general-t{
    padding: 40px;
    text-align: center;
    margin-right: 10px;
    margin: 10 10px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

}

.general-t:hover{
    background-color: rgb(245, 144, 245);
}

.general-t img{
    width: 125px;
    margin-bottom: 30px;
}

.general-t h2{
    font-size: 18px;
    color: rgb(20, 20, 44);
    margin-bottom: 15px 
}

.general-t p{
    font-size: 13px;
    color: rgb(0, 0, 0)
}

.general-2{

    width: 30%;
    margin: 0 35px;
}

.general-2 h2{
    font-size: 50px;
    line-height: 60p;
    color: rgb(31, 31, 80);
    margin-bottom: 20px;
    margin-top: 70px;
}



.information{
    padding: 100px 0;
    background-color: floralwhite;
    text-align: center;
}

.information-content{
    margin-top: 70px;
    display: flex;
}

.information-1{
    margin: 0 25px;
}

.information-1 h3{
    text-transform: capitalize;
    font-size: 25px;
    color: rgb(33, 33, 73);
    margin-bottom: 15px;
}

.information-1 p{
    font-size: 16px;
    color: rgb(90, 90, 90);
    margin-bottom: 35px;
}

.btn-2{
    display: inline-block;
    padding: 13px 25px;
    color: rgb(18, 18, 63);
    font-size: 17px;
    text-transform: capitalize;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.btn-2:hover{
    background-color: rgb(238, 140, 202);
    color: aliceblue;

}

.footer{
    padding: 50px 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.footer-txt{
    padding-right: 500px;
}

.footer-txt p{
    font-size: 16px;
    color: rgb(119, 143, 143);
    margin-top: 25px;
}

.footer-redessociales{
display: flex;
}

.footer-redessociales img{
    margin: 0 15px;
    width: 30px;
    height: 30px;
}

@media(max-width:991px){

    .libroalamano{
       
       margin-right: 0%;
       text-align: center;
       top: 0%;
       right: 0;

    }


    .menu{
    
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .nav{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: #F0EFEF;
        display: none;
    }

    .menu .nav ul li{
        width: 100%;
    }

    #menu:checked ~ .nav{
        display: initial;
    }

    .contenido{
        flex-direction: column;
        padding: 50px 30px 20px 30px;
        margin: 0;
        margin-bottom: 42px;
    }

    .header{
        min-height: 60px;
        height: 19vh;
        margin-bottom: 15px;
    }

   .general-2 h2.se{
    margin-top:-1390px ;

   }

    .header-txt{
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 25px;
      
    }

    .header-img{
        width: 150%;
        text-align: center;
    }

    .header-img{
        width: 100%;
    }

    .header-txt p {

        font-size:17px;}

    .general{
        width: 100%;
        flex-direction: column;
    }

    .general-1{
        width: 100%;
        flex-direction: column;
        order: 2;
    }

    .general-2{
        width: 100%;
        margin: 0 0 40px;
        text-align: center;
    }

    .general-t{
        margin: 0 0 25px 0;
        margin-top: 42px;
    }

    .information{
        padding: 30px;
    }

    .information-content{
        margin-top: 30px;
        flex-direction: column;
    }
    .information-1{
        text-align: center;
        margin: 0 0 45px 0;
    }

    .footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-txt{
        padding-right: 0;
        margin-bottom: 20px;
    }

    .footer-redessociales{

        margin-top: 20px;
    }

}




  

      
    
       
      


    


     
      
      
