body{
    background-color: whitesmoke;
}

.libroalamano {
    font-size: 26px;
    font-weight: 800;
    background-color: salmon;
    left: 0%;
}
.icono.menu{
    width: 200px;
    right: 0%;
}
   
    